<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="APi Test-Suite" >
    <test name="ApiTests test" >

        <classes>
            <class name="ApiTests.getListOfBrands.GetListOfBrandsRunner"/>
            <class name="ApiTests.getBrandById.GetBrandRunner"/>
            <class name="ApiTests.getBrandNotExists.GetBrandNotExixtsRunner"/>
            <class name="ApiTests.postDuplicateBrands.PostDuplicateBrandsRunner"/>
            <class name="ApiTests.UpdateOrDeletNoExistBrand.UpdateOrDeletNoExistBrandRunner"/>


        </classes>
    </test>
</suite>