<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="APi Test-Suite" >
    <test name="Api test" >

        <classes>
            <class name="api.ListOfBrands"/>
            <class name="api.GetBrandById"/>
            <class name="api.GetBrandNotExists"/>
            <class name="api.PostDuplicateBrands"/>
            <class name="api.UpdatOrDeletNoExistBrand"/>

        </classes>
    </test>
</suite>